<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Porfolio Personal Website</title>
    <!--box icons-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!--custom css-->
    <link rel="stylesheet" href="stile.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../path-to/flyonui.js"></script>

</head>
<body>

    <!--header design-->
    <header class="header">
        <a href="#" class="logo">Josue Aguilar</a>

        <i class='bx bx-menu' id="menu-icon"></i>

        <nav class="navbar">
          
 
          <a href="#home">sobre mi</a>
          <a href="#about">trayecto</a>
          <a href="#services">proceso</a>
          <a href="#portfolio">planes</a>
          <a href="index.html" class="active"><i class='bx bx-exit'></i></a></a>
            
        </nav>
    </header>

    <!-- home section design -->
    <section class="home" id="home">
    <!-- Container -->
    <div class="mx-auto w-full max-w-7xl px-5 py-12 md:px-10 md:py-16 lg:py-20">
      <!-- Component -->
      <div class="grid gap-12 sm:gap-20 lg:grid-cols-2">
        <!-- Content -->
        <div class="flex flex-col items-start gap-2">
          <div class="flex items-center rounded-md bg-indigo-700 px-4 py-2">
            <div class="mr-1 h-2 w-2 rounded-full bg-green-500"></div>
            <p class="text-xl text-white">Disponible para trabajar</p>
          </div>
          <p class="text-3xl text-cyan-400 my-6"> Desarrollador Full Stack &amp; diseñador Gráfico &amp; Especialista de Marketing </p>
          <!-- Title -->
          <h1 class="mb-6 text-4xl font-bold md:text-6xl lg:mb-8"> Josue Aguilar </h1>
          <p class="text-2xl text-white justify-center text-justify">Soy un Desarrollador y Diseñador Gráfico apasionado por transformar ideas en experiencias visuales y digitales impactantes. Con experiencia en estrategias de marketing digital,
             me especializo en crear soluciones personalizadas que aumenten la visibilidad de marcas y generen resultados tangibles.
             Mi enfoque combina habilidades técnicas avanzadas con creatividad, garantizando un equilibrio perfecto entre funcionalidad y estética. 
             Como profesional junior dinámico y orientado a objetivos, estoy comprometido con el crecimiento de negocios en línea mediante el uso de 
             herramientas modernas y tendencias emergentes. </p>
         
             <!-- Divider -->
          <div class="mb-8 mt-8 h-px w-full bg-black"></div>
          <div class="mb-6 flex flex-col gap-2 text-2xl text-white  lg:mb-8">
            <p>
              <strong class="text-cyan-400 text-justify">Diseño Gráfico Creativo: </strong> Desarrollo de identidades visuales únicas, logotipos, y material publicitario.
            </p>
            <p>
              <strong class="text-cyan-400 text-justify">Marketing Digital Eficiente:  </strong> Estrategias SEO/SEM, gestión de campañas en redes sociales y análisis de métricas para maximizar ROI.
            </p>
            <p>
                <strong class="text-cyan-400 text-justify">Desarrollo Web Responsive: </strong> Creación de sitios web modernos, optimizados para dispositivos móviles y con foco en la experiencia del usuario (UX/UI).              
            </p>
              <p>
                <strong class="text-cyan-400  text-justify">Redacción Persuasiva: </strong> Creación de contenido atractivo y optimizado para SEO que aumenta la conversión y la interacción de los usuarios.
              </p>
          </div>
          <!-- Link -->
          <a class="mb-6 flex items-center gap-2.5 text-center text-sm font-bold uppercase md:mb-10 lg:mb-12">
            <p>Todos los logros</p>
            <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/64b1465d46adaf3f26099edf_arrow.svg" alt="" class="inline-block" />
          </a>

          <!-- Buttons -->
          <div class="flex flex-col gap-4 font-semibold sm:flex-row">
            <a href="#" class="flex items-center gap-4 rounded-md bg-black px-6 py-3 text-white">
              <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/64b147043fe6ab404e65635e_Envelope.svg" alt="" class="inline-block" />
              <p>CORREO</p>
            </a>
            <a href="#" class="flex gap-4 rounded-md border border-solid border-black px-6 py-3">
              <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/64b14704c8616ad7ba080fe0_Note.svg" alt="" class="inline-block" />
              <p>CURRICULUM</p>
            </a>
          </div>
        </div>
        <!-- Image -->
        <div class="h-[530px] overflow-hidden rounded-md bg-gray-100">
            <img src="./img/notificacion.jpg" alt="">
        </div>
      </div>
    </div>
    </section>

    <!--About section desing-->
   <section class="about" id="about">
    <div class="max-w-4xl mx-auto">
      <h1 class="text-6xl font-bold mb-6 text-center py-4">Cronologia de mi <span class="text-cyan-400">portfolio</span></h1>
      <div class="relative my-12">
          <div class="border-l-4 border-cyan-500 absolute h-full left-1/2 transform -translate-x-1/2"></div>
          <div class="space-y-8">
              <!-- Timeline Item 1 -->
              <div class="flex items-center w-full">
                  <div class="w-1/2 pr-8">
                      <div class="bg-white p-4 rounded shadow-md">
                          <h2 class="text-xl font-bold text-black">API Clima 🌦️</h2>
                          <p class="text-gray-600 text-justify justify-center">Este proyecto es una aplicación web que consume una API de clima en tiempo real para mostrar información meteorológica de cualquier ciudad del mundo. <br><span class="font-bold text-black">Impacto del proyecto:</span>
                            Este proyecto me permitió profundizar en el uso de APIs, el manejo de asincronía en JavaScript (fetch, Promises) y la creación de una interfaz dinámica. <br> <span class="text-black font-bold">Tecnologías utilizadas:</span> HTml, CSS, JS, API OPENWEATHERMAP</p>
                          <span class="text-sm text-gray-500">Enero 2024</span>
                      </div>
                  </div>
                  <div class="w-1/2"></div>
              </div>
              <!-- Timeline Item 2 -->
              <div class="flex items-center w-full">
                  <div class="w-1/2"></div>
                  <div class="w-1/2 pl-8">
                      <div class="bg-white p-4 rounded shadow-md">
                        <h2 class="text-xl font-bold text-black">API de Criptomonedas 💰🚀</h2>
                        <p class="text-gray-600 text-justify justify-center"> aplicación web que consume una API de criptomonedas en tiempo real para mostrar información sobre precios, tendencias y cambios en diversas criptodivisas. Los usuarios pueden buscar una criptomoneda específica y visualizar su precio actual, variaciones en las últimas 24 horas y una gráfica de historial de precios <br><span class="font-bold text-black">Impacto del proyecto:</span>
                          Este proyecto me permitió mejorar mis habilidades en el consumo de APIs, la manipulación del DOM y la visualización de datos en tiempo real. También reforzó mi comprensión del uso de fetch y promesas en JavaScript<br> <span class="text-black font-bold">Tecnologías utilizadas:</span> HTml, CSS, JS, Fetch Api, API coinMarketCap</p>
                        <span class="text-sm text-gray-500">Marzo 2024</span>
                      </div>
                  </div>
              </div>
              <!-- Timeline Item 3 -->
              <div class="flex items-center w-full">
                  <div class="w-1/2 pr-8">
                      <div class="bg-white p-4 rounded shadow-md">
                        <h2 class="text-xl font-bold text-black">Carrito de Ecommerce 🛒💻</h2>
                        <p class="text-gray-600 text-justify justify-center">aplicación web que simula un carrito de compras para una tienda en línea. Permite a los usuarios agregar productos, visualizar el total de su compra, modificar cantidades y eliminar artículos del carrito.
                        <br><span class="font-bold text-black">Impacto del proyecto: </span>mejorar la manipulación del DOM y reforzar el uso del almacenamiento local para persistencia de datos
                        <br> <span class="text-black font-bold">Tecnologías utilizadas:</span> HTml, CSS, JS, LocalStorage</p>
                        <span class="text-sm text-gray-500">Julio 2024</span>
                      </div>
                  </div>
                  <div class="w-1/2"></div>
              </div>
              <!-- Timeline Item 4 -->
              <div class="flex items-center w-full">
                  <div class="w-1/2"></div>
                  <div class="w-1/2 pl-8">
                      <div class="bg-white p-4 rounded shadow-md">
                        <h2 class="text-xl font-bold text-black">Simulador de Twits 🐦💬</h2>
                        <p class="text-gray-600 text-justify justify-center">Este proyecto es una aplicación web que simula el funcionamiento de Twitter a pequeña escala. Los usuarios pueden escribir "twits", publicarlos en una lista y eliminarlos si lo desean
                        <br><span class="font-bold text-black">Impacto del proyecto: </span>Este proyecto me permitió mejorar mis habilidades en la manipulación del DOM, el almacenamiento de datos en el navegador y el manejo de eventos en JavaScript. También fue una práctica útil para comprender cómo funcionan las redes sociales a nivel básico.
                        <br> <span class="text-black font-bold">Tecnologías utilizadas:</span> HTml, CSS, JS, LocalStorage</p>
                        <span class="text-sm text-gray-500">Septiembre 2024</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
   </section>

  <!--sevices section desing-->
  <section class="services" id="services">
    <div class="md:w-2/3 lg:w-1/2">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-yellow-400">
          <path fill-rule="evenodd"
            d="M9 4.5a.75.75 0 01.721.544l.813 2.846a3.75 3.75 0 002.576 2.576l2.846.813a.75.75 0 010 1.442l-2.846.813a3.75 3.75 0 00-2.576 2.576l-.813 2.846a.75.75 0 01-1.442 0l-.813-2.846a3.75 3.75 0 00-2.576-2.576l-2.846-.813a.75.75 0 010-1.442l2.846-.813A3.75 3.75 0 007.466 7.89l.813-2.846A.75.75 0 019 4.5zM18 1.5a.75.75 0 01.728.568l.258 1.036c.236.94.97 1.674 1.91 1.91l1.036.258a.75.75 0 010 1.456l-1.036.258c-.94.236-1.674.97-1.91 1.91l-.258 1.036a.75.75 0 01-1.456 0l-.258-1.036a2.625 2.625 0 00-1.91-1.91l-1.036-.258a.75.75 0 010-1.456l1.036-.258a2.625 2.625 0 001.91-1.91l.258-1.036A.75.75 0 0118 1.5zM16.5 15a.75.75 0 01.712.513l.394 1.183c.15.447.5.799.948.948l1.183.395a.75.75 0 010 1.422l-1.183.395c-.447.15-.799.5-.948.948l-.395 1.183a.75.75 0 01-1.422 0l-.395-1.183a1.5 1.5 0 00-.948-.948l-1.183-.395a.75.75 0 010-1.422l1.183-.395c.447-.15.799-.5.948-.948l.395-1.183A.75.75 0 0116.5 15z"
            clip-rule="evenodd"></path>
        </svg>
        <h2 class="my-8 text-6xl font-bold text-cyan-400 ">¿Cómo trabajamos?</h2>
        <p class="text-white text-4xl">Seguimos nuestro proceso para que puedas empezar lo antes posible</p>
      </div>
      <div class="mt-16 grid divide-x divide-y  divide-gray-700 overflow-hidden rounded-3xl border text-gray-600 border-gray-700 sm:grid-cols-2 lg:grid-cols-4  lg:divide-y-0 xl:grid-cols-4">
        <div class="group relative bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
          <div class="relative space-y-8 py-12 p-8">
            <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
              stroke-linejoin="round" color="white" style="color:cyan" height="50" width="50"
              xmlns="http://www.w3.org/2000/svg">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M19.875 6.27a2.225 2.225 0 0 1 1.125 1.948v7.284c0 .809 -.443 1.555 -1.158 1.948l-6.75 4.27a2.269 2.269 0 0 1 -2.184 0l-6.75 -4.27a2.225 2.225 0 0 1 -1.158 -1.948v-7.285c0 -.809 .443 -1.554 1.158 -1.947l6.75 -3.98a2.33 2.33 0 0 1 2.25 0l6.75 3.98h-.033z">
              </path>
              <path d="M10 10l2 -2v8"></path>
            </svg>
            <div class="space-y-2">
              <h5 class="text-2xl font-semibold text-yellow-400 transition">Discusion inicial</h5>
              <p class="text-white text-2xl">Tendremos discusiones sobre los requisitos para asegurar que tu MVP (Producto Mínimo Viable) esté listo para el lanzamiento inicial.
                </p>
            </div>
          </div>
        </div>
        <div class="group relative bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
          <div class="relative space-y-8 py-12 p-8">
            <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
              stroke-linejoin="round" color="white" style="color:cyan" height="50" width="50"
              xmlns="http://www.w3.org/2000/svg">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M19.875 6.27a2.225 2.225 0 0 1 1.125 1.948v7.284c0 .809 -.443 1.555 -1.158 1.948l-6.75 4.27a2.269 2.269 0 0 1 -2.184 0l-6.75 -4.27a2.225 2.225 0 0 1 -1.158 -1.948v-7.285c0 -.809 .443 -1.554 1.158 -1.947l6.75 -3.98a2.33 2.33 0 0 1 2.25 0l6.75 3.98h-.033z">
              </path>
              <path d="M10 8h3a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-2a1 1 0 0 0 -1 1v2a1 1 0 0 0 1 1h3"></path>
            </svg>
            <div class="space-y-2">
              <h5 class="text-2xl font-semibold text-yellow-400 transition group-hover:text-secondary">Discusion Final</h5>
              <p class="text-white text-2xl">Una vez que nos pongamos de acuerdo en qué construir, comenzaremos a trabajar en ello de inmediato. 
              </p>
            </div>
          </div>
        </div>
        <div class="group relative bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
          <div class="relative space-y-8 py-12 p-8">
            <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
              stroke-linejoin="round" color="white" style="color:cyan" height="50" width="50"
              xmlns="http://www.w3.org/2000/svg">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M19.875 6.27a2.225 2.225 0 0 1 1.125 1.948v7.284c0 .809 -.443 1.555 -1.158 1.948l-6.75 4.27a2.269 2.269 0 0 1 -2.184 0l-6.75 -4.27a2.225 2.225 0 0 1 -1.158 -1.948v-7.285c0 -.809 .443 -1.554 1.158 -1.947l6.75 -3.98a2.33 2.33 0 0 1 2.25 0l6.75 3.98h-.033z">
              </path>
              <path
                d="M10 9a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-2h2a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1">
              </path>
            </svg>
            <div class="space-y-2">
              <h5 class="text-2xl font-semibold text-yellow-400 transition group-hover:text-secondary">Entrega del producto</h5>
              <p class="text-white text-2xl">Desarrollaremos el MVP de tu producto en 3 meses (si el proyecto es mas complejo se informara para requerir más tiempo dependiendo de la complejidad del proyecto).</p>
            </div>
          </div>
        </div>
        <div class="group relative bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
          <div class="relative space-y-8 py-12 p-8">
            <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
              stroke-linejoin="round" color="white" style="color:cyan" height="50" width="50"
              xmlns="http://www.w3.org/2000/svg">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M19.875 6.27a2.225 2.225 0 0 1 1.125 1.948v7.284c0 .809 -.443 1.555 -1.158 1.948l-6.75 4.27a2.269 2.269 0 0 1 -2.184 0l-6.75 -4.27a2.225 2.225 0 0 1 -1.158 -1.948v-7.285c0 -.809 .443 -1.554 1.158 -1.947l6.75 -3.98a2.33 2.33 0 0 1 2.25 0l6.75 3.98h-.033z">
              </path>
              <path d="M10 8v3a1 1 0 0 0 1 1h3"></path>
              <path d="M14 8v8"></path>
            </svg>
            <div class="space-y-2">
              <h5 class="text-2xl font-semibold text-yellow-400 transition group-hover:text-secondary">Lanzamiento del producto
              </h5>
              <p class="text-white text-2xl">Nos encanta celebrar. Celebraremos tu lanzamiento en nuestros perfiles sociales. 
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


    <section class="portfolio" id="portfolio">
        <div class="container px-4 mx-auto">
            <div class="max-w-2xl mx-auto mb-16 text-center">
                <span class="text-4xl font-bold tracking-wider uppercase dark:text-violet-600">Precios</span>
                <h2 class="text-4xl font-bold lg:text-5xl">elige tu mejor plan</h2>
            </div>
            
            <div class="flex flex-wrap items-stretch -mx-4">
                <div class="flex w-full mb-8 sm:px-4 md:w-1/2 lg:w-1/3 lg:mb-0">
                    <div class="flex flex-grow flex-col p-6 space-y-6 rounded-xl shadow-cyan-400 sm:p-8 bg-gray-600">
                        <div class="space-y-2">
                            <h4 class="text-2xl font-bold">Plan</h4>
                            <span class="text-6xl font-bold">Basico 200$</span>
                        </div>
                        <p class="mt-3 leading-relaxed dark:text-gray-600">este plan es para Creación de páginas web estáticas o dinámicas simples, como portafolios personales, blogs o landing pages. Contiene:</p>
                        <ul class="flex-1 mb-6 dark:text-gray-600">
                            <li class="flex mb-2 space-x-2">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="flex-shrink-0 w-6 h-6 dark:text-violet-600">
                                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                                </svg>
                                <span>Diseño responsivo (HTML, CSS, JavaScript).  </span>
                            </li>
                            <li class="flex mb-2 space-x-2">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="flex-shrink-0 w-6 h-6 dark:text-violet-600">
                                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                                </svg>
                                <span> Integración con CMS (opcional, como WordPress). </span>
                            </li>
                            <li class="flex mb-2 space-x-2">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="flex-shrink-0 w-6 h-6 dark:text-violet-600">
                                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                                </svg>
                                <span>SEO básico.</span>
                            </li>
                            <li class="flex mb-2 space-x-2">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="flex-shrink-0 w-6 h-6 dark:text-violet-600">
                                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                              </svg>
                              <span>plazo de tiempo: 2-3 semanas</span>
                          </li>
                        </ul>
                        <button type="button" class="inline-block px-5 py-3 font-semibold tracking-wider text-center rounded dark:bg-violet-600 dark:text-gray-50">Get Started</button>
                    </div>
                </div>

                <div class="flex w-full mb-8 sm:px-4 md:w-1/2 lg:w-1/3 lg:mb-0">
                    <div class="flex flex-grow flex-col p-6 space-y-6 rounded-xl shadow-cyan-400 sm:p-8 bg-gray-600 dark:text-gray-50">
                        <div class="space-y-2">
                            <h4 class="text-2xl font-bold">Plan </h4>
                            <span class="text-6xl font-bold "> Intermedio 1000$</span>
                        </div>
                        <p class="leading-relaxed">Desarrollo de aplicaciones con funcionalidad de front-end y back-end. Ideal para sistemas como blogs avanzados, comercio electrónico, o paneles administrativos</p>
                        <ul class="flex-1 space-y-2">
                            <li class="flex items-center space-x-2">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="flex-shrink-0 w-6 h-6">
                                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                                </svg>
                                <span> Desarrollo del front-end (React, tailwindcss)</span>
                            </li>
                            <li class="flex items-center space-x-2">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="flex-shrink-0 w-6 h-6">
                                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                                </svg>
                                <span>Desarrollo del back-end (Node.js, Express).</span>
                            </li>
                            <li class="flex items-center space-x-2">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="flex-shrink-0 w-6 h-6">
                                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                                </svg>
                                <span>Integración con bases de datos (MongoDB, MySQL)</span>
                            </li>
                            <li class="flex items-center space-x-2">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="flex-shrink-0 w-6 h-6">
                                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                                </svg>
                                <span>Autenticación de usuarios y formularios</span>
                            </li>
                            <li class="flex items-center space-x-2">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="flex-shrink-0 w-6 h-6">
                                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                              </svg>
                              <span>plazo 3-6 semanas</span>
                          </li>
                        </ul>
                        <a rel="noopener noreferrer" href="#" class="inline-block w-full px-5 py-3 font-bold tracking-wider text-center rounded dark:bg-gray-100 dark:text-violet-600">Get Started</a>
                    </div>
                </div>
                <div class="flex w-full mb-8 sm:px-4 md:w-1/2 lg:w-1/3 lg:mb-0">
                    <div class="flex flex-grow flex-col p-6 space-y-6 rounded-xl shadow sm:p-8 bg-gray-600">
                        <div class="space-y-2">
                            <h4 class="text-2xl font-bold">Plan</h4>
                            <span class="text-6xl font-bold">Avanzado 1500$                            </span>
                        </div>
                        <p class="leading-relaxed dark:text-gray-600">Creación de plataformas completas con características avanzadas y escalabilidad. Ideal para startups, marketplaces, o sistemas internos complejos. </p>
                        <ul class="space-y-2 dark:text-gray-600">
                            <li class="flex items-start space-x-2">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="flex-shrink-0 w-6 h-6 dark:text-violet-600">
                                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                                </svg>
                                <span>Arquitectura personalizada</span>
                            </li>
                            <li class="flex items-start space-x-2">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="flex-shrink-0 w-6 h-6 dark:text-violet-600">
                                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                                </svg>
                                <span>Integración con APIs externas</span>
                            </li>
                            <li class="flex items-start space-x-2">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="flex-shrink-0 w-6 h-6 dark:text-violet-600">
                                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                                </svg>
                                <span>Pasarelas de pago (PayPal).</span>
                            </li>
                            <li class="flex items-start space-x-2">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="flex-shrink-0 w-6 h-6 dark:text-violet-600">
                                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                                </svg>
                                <span>Mantenimiento inicial y soporte técnico.</span>
                            </li>
                            <li class="flex items-start space-x-2">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="flex-shrink-0 w-6 h-6 dark:text-violet-600">
                                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                                </svg>
                                <span>plazo  2-3 meses</span>
                            </li>
                        </ul>
                        <a rel="noopener noreferrer" href="#" class="inline-block w-full px-5 py-3 font-semibold tracking-wider text-center rounded dark:bg-violet-600 dark:text-gray-50">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

   

    <!--footer desing-->
   <footer class="footer">
    <div class="footer-text">
        <p>Copyright &copy; 2024 by Josue Aguilar</p>
    </div>

    <div class="footer-iconTop">
        <a href="#home"><i class="bx bx-up-arrow-alt"></i></a>
    </div>

   </footer>

</body>

   <!--scroll reveal-->
   <script src="https://unpkg.com/scrollreveal"></script>

   
   <!--typed js-->
   <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
      <!--custom js-->
   <script src="script.js"></script>
</html>