<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
            content="Descubre mi portafolio donde muestro mis proyectos de Marketing, Desarrollo web y Diseño Grafico. Explora mi experiencia en desarrollo web, UX/UI y marketing digital">
    <title>Jaguil Porfolio Website</title>
    <!--box icons-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!--custom css-->
    <link rel="stylesheet" href="stile.css">

</head>
<body>

    <!--header design-->
    <header class="header">
        <a href="#" class="logo">Josue Aguilar</a>

        <i class='bx bx-menu' id="menu-icon"></i>

        <nav class="navbar">
          <a href="#home" class="active">Home</a>
          <a href="#about">sobre mi</a>
          <a href="#services">Servicios</a>
          <a href="#portfolio">portafolio</a>
          <a href="#contact">contacto</a>  
        </nav>
    </header>

    <!-- home section design -->
    <section class="home" id="home">
        <div class="home-content">
             <h3>Hola, yo soy</h3>
             <h1>Josué Aguilar</h1>
             <h4>y soy un <span class="multiple-text"></span></h4>
             <p>
                 Buscas optimizar tus operaciones o lanzar un proyecto en línea, 
                 puedo ayudarte a construir aplicaciones web que se adapten a tus objetivos, 
                 aumentando la productividad y el crecimiento de tu negocio.
            </p>            

             <div class="social-media">
                <a id="hitgub" href="https://github.com/jaguil320"><i class='bx bxl-github'></i></a>
                <a id="linkedin" href="https://www.linkedin.com/in/jaguil2024/"><i class='bx bxl-linkedin'></i></a>
                <a id="instagram" href="https://www.instagram.com/jaguil.vzla/profilecard/?igsh=MTd3b2wyY3VrdWpjcA=="><i class='bx bxl-instagram'></i></a>
                <a id="twitch" href="https://www.twitch.tv/kidjt20"><i class='bx bxl-twitch'></i></a>
             </div> 

             <a href="#about" class="btn" >Leer mas</a>            
        </div>

        <div class="home-img">
            <img src="img/perfil2.webp" alt="perfil2">
        </div>
    </section>

    <!--About section desing-->
   <section class="about" id="about">
        <div class="about-img">
            <img src="img/perfile3.webp" alt="perfile3">
        </div>

        <div class="about-content">
            <h2 class="heading">Sobre <span>Mi &#9749;</span></h2>
            <h3>Freelancer</h3>

             <p>
                Soy un profesional con experiencia en marketing digital, redes sociales, desarrollo web y diseño gráfico. Me apasiona la creación de estrategias digitales efectivas que potencien la presencia online de marcas y negocios.
                Cuento con habilidades en gestión de redes sociales, branding y UX/UI, combinadas con conocimientos en desarrollo web full stack utilizando tecnologías como Vue3, React, Flask, Node.js, MongoDB, PostgreSQL, HTML, CSS y JavaScript. Esta combinación me permite desarrollar soluciones digitales atractivas, funcionales y orientadas a resultados.
                Siempre busco aprender y aplicar nuevas tendencias para optimizar la presencia digital y mejorar la experiencia del usuario. Estoy listo para aportar creatividad, estrategia y tecnología a cualquier proyecto.
            </p>
            
            <a href="#services" class="btn">Leer Mas</a>
        </div>
    </section>

    <!--sevices section desing-->
    <section class="services" id="services">
        <h2 class="heading">Otros <span>Servicios</span></h2>

        <div class="services-container">
            <div class="services-box">
                <i class="bx bx-code-alt"></i>
                <h3>Desarrollo Web</h3>
                <p class="text-justify">Ofrezco soluciones personalizadas de desarrollo de aplicaciones web
                  para mejorar la eficiencia de los procesos y ayudar a crear o escalar 
                  negocios de manera profesional. centrado en las necesidades de cada cliente.
                </p>
                <a href="./cv/cv-fullstack.pdf" class="btn" download="cv-fullstack.pdf">Descargar CV</a> 
            </div>

            <div class="services-box">
                <i class="bx bxs-paint"></i>
                <h3>Diseño Grafico</h3>
                <p class="text-justify">
                    creación de identidades visuales, branding y contenido digital. 
                    Mi enfoque combina creatividad, estrategia y tecnología para desarrollar diseños impactantes que potencien 
                    la presencia de marcas en el mundo digital.
                </p>
                 
            </div>

            <div class="services-box">
                <i class="bx bx-bar-chart-alt"></i>
                <h3>Marketing Digital</h3>
                <p class="text-justify"> Ofrezco servicios de marketing digital para impulsar la visibilidad 
                   y el crecimiento de tu negocio en el entorno digital. con la finalidad de alcanzar 
                   a tu público objetivo de manera efectiva y aumentar tus conversiones.
                </p>
                <a href="./cv/cv-marketing.pdf" class="btn" download="cv-marketing.pdf" >Descargar CV</a> 
            </div>
        </div>
    </section>

    <!--porfolio section desing-->
    <section class="portfolio" id="portfolio">
        <h2 class="heading">Portafolio de <span>Proyectos</span></h2>
        <div class="portfolio-container">
            <div class="portfolio-box">
                <img src="img/In The Zone.gif" alt="">
                <div class="portfolio-layer">
                    <h4>En espera</h4>
                    <p>Se esta pensando que desarrollar</p>
                    <a href="#"><i class="bx bx-link-external"></i></a>
                </div>
            </div>   
            
            <div class="portfolio-box">
                <img src="img/Apli-clima.webp" alt="ApiClima">
                <div class="portfolio-layer">
                    <h4>Api de Clima</h4>
                    <p>conoce el clima.</p>
                    <a href="https://jaguil320.github.io/ApiClima.github.io/"><i class="bx bx-link-external"></i></a>
                </div>
            </div> 

            <div class="portfolio-box">
                <img src="img/buscador.webp" alt="api buscador">
                <div class="portfolio-layer">
                    <h4>Buscador</h4>
                    <p>Buscador con filtros</p>
                    <a href="https://jaguil320.github.io/buscadorF.github.io/"><i class="bx bx-link-external"></i></a>
                </div>
            </div> 

            <div class="portfolio-box">
                <img src="img/criptomoneda.webp" alt="Criptomonedas">
                <div class="portfolio-layer">
                    <h4>Cotizador de Criptomonedas</h4>
                    <p>Cotizador a tiempo real y actualizado</p>
                    <a href="https://jaguil320.github.io/Criptomonedas.github.io/"><i class="bx bx-link-external"></i></a>
                </div>
            </div> 

            <div class="portfolio-box">
                <img src="img/In The Zone.gif" alt="carrito">
                <div class="portfolio-layer">
                    <h4>En espera</h4>
                    <p>se esta pensando que desarrollar</p>
                    <a href=""><i class="bx bx-link-external"></i></a>
                </div>
            </div> 

            <div class="portfolio-box">
                <img src="img/reserba.webp" alt="clinica">
                <div class="portfolio-layer">
                    <h4>Generador de Citas</h4>
                    <p>reserva tu cita veterinaria</p>
                    <a href="https://jaguil320.github.io/Veterinario.github.io/"><i class="bx bx-link-external"></i></a>
                </div>
            </div>  
        </div>
    </section>

    <!--conctact section desing-->
   <section class="contact" id="contact">
        <h2 class="heading">Contacto <span>&#128075</span></h2>

        <form action="/send-email" method="POST">
            <div class="input-box">
                <input type="text" placeholder="Nombre completo" name="name">
                <input type="email" placeholder="Correo electrónico" name="email">
            </div>

            <div class="input-box">
                <input type="number" placeholder="telefono movil" name="telefono">
                <input type="text" placeholder="correo alternativo" name="email2">
            </div>

            <textarea name="mensaje" rows="4" cols="50"></textarea>
            <input type="submit" value="Enviar" class="btn">
        </form>
        <div id="notification" style="display:none;"></div>
   </section>

    <!--footer desing-->
   <footer class="footer">
    <div class="footer-text">
        <p>Copyright &copy; 2024 by Josue Aguilar</p>
    </div>

    <div class="footer-iconTop">
        <a href="#home"><i class="bx bx-up-arrow-alt"></i></a>
    </div>

   </footer>

</body>

   <!--scroll reveal-->
   <script src="https://unpkg.com/scrollreveal"></script>

   
   <!--typed js-->
   <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
      <!--custom js-->
   <script src="script.js"></script>
</html>